@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    padding: 0;
    margin: 0;
}

.wrapper{
    background: url(../images/Iset-wolf) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar{
    height: 140px;
    width: 100%;
    background: rgba(0,0,0,0.9);
}

.logo{
    width: 140px;
    height: auto;
    padding: 20px 100px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 40px;
    display: inline-block;
    line-height: 120px;

}

.navbar ul li a{
    text-decoration: none;
    color: palegreen;
    font-size: 20px;
    padding: 15px 15px;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: palegreen;
    color: navy;
    border-radius: 2px;
}

.wrapper .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: cornsilk;
    text-shadow: 0 0 10px #000;
    font-size: 70px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    margin-bottom: 40%;
    text-align: center;
}

.center .buttons{
    margin: 35px 100px;
}

.buttons button{
    height: 150px;
    width: 250px;
    font-size: 38px;
    font-weight: bold;
    color: palegreen;
    background: rgba(0,0,0,0.9);
    border: 1px solid black;
    outline: none;
    border-radius: 25px;
}

.buttons h4{
    font-size: 10px;
}

.buttons .btn{
    margin-left: 100px;
    cursor: pointer;
}

.buttons .btn:active,
.buttons .btn:hover{
    background: rgba(152, 251, 152,0.6);
    color: navy;
    border-radius: 25px;
}