<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link href='<c:url value="css/style.css"/>' rel="stylesheet">

</head>
<body>
<div class="wrapper">
    <nav class="navbar">
        <a href="home.jsp"> <img class="logo" src="images/logo.png"></a>
        <ul>
            <li><a href="home.jsp">Home</a> </li>
            <li><a href="#">About</a> </li>
            <li><a href="#">Support</a></li>
            <li><a href="login.jsp">Login</a> </li>
        </ul>
    </nav>
    <div class="center">
        <h1>Welcome To Wolfpack</h1>
        <div class="buttons">
            <a href="#"><button class="off">Download<br><h4>(Not Available Yet)</h4></button></a>
            <a href="register.jsp"><button class="btn">Register<h4>For Free!</h4></button></a>
        </div>
    </div>
</div>


</body>
</html>